.fotoviñeta{
	display: center;
	margin-bottom: 30px;
	max-height: 150px;
}

.viñetas-list {

	margin-left: 200px;
	margin-right: 200px;
	display: flex;
	flex-direction: column;
		margin-top: 10px;
		margin-bottom: 10px; }
    
    .viñetas-list .viñeta {
		display: flex;
		flex-direction: column;
	  box-sizing: border-box;
	  width: calc(50% - 10px);
	  float: left;
	  padding: 15px;
	  margin: 10px 5px;
	  height: 240px;
	  overflow: visible;
		box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); }
		
	  @media (min-width: 415px) {
		.viñetas-list .viñeta {
		  width: calc(33% - 10px); } }
	  @media (min-width: 1024px) {
		.viñetas-list .viñeta {
		  width: calc(20% - 10px); } }
	  .viñetas-list .viñeta .fotoviñeta {
		width: 100%; }
	  .viñetas-list .viñeta {
		font-weight: bold;
		margin-top: 10px; }
	  .viñetas-list .viñeta  {
        margin-top: 10px; }   
				
				
.web-footer {
	margin-top: 30px;
	margin-bottom: 30px;
 }
						
						
div{

 margin-top: 30px;
 margin-inline-end: 30px;
}

span{
	margin-top: 0;
	}

	#negrira{

			font-weight: bold;
	}

.form-search {
		
    display: flex;
		align-items: center;
        justify-content: flex-end;
        margin-right: 15px;
	
    }
    
.form-search .busqueda {
 font-family:GidoleRegular;
  width: 150px;
  margin-left: 15px;
  padding: 5px;
  background: #DBDBDB; }    


body {
    background: white;
    font-family:GidoleRegular;
    text-align: center;
    color: black;
    padding-top: 60px;
}

h2{

	font-family:GidoleRegular;
	font-weight: bold;
	margin-top: 50px;
	margin-left: 200px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

p{
		font-style: italic;
		margin-left: 200px;
		margin-right: 200px;
}


a {
    text-decoration: none;
    background-color: white;
		padding: 5px;
		border: solid 2px #000000;
		font-family: GidoleRegular;
}